<div>
    <h2 id="page-heading">
        <span jhiTranslate="onePortalApp.mdmRoleMaster.home.title">Mdm Role Masters</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-mdm-role-master" [routerLink]="['/mdm-role-master/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="onePortalApp.mdmRoleMaster.home.createLabel">
            Create a new Mdm Role Master
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="mdmRoleMasters?.length === 0">
        <span jhiTranslate="onePortalApp.mdmRoleMaster.home.notFound">No mdmRoleMasters found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="mdmRoleMasters?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="onePortalApp.mdmRoleMaster.roleCode">Role Code</span></th>
                    <th scope="col" ><span jhiTranslate="onePortalApp.mdmRoleMaster.roleName">Role Name</span></th>
                    <th scope="col" ><span jhiTranslate="onePortalApp.mdmRoleMaster.roleDesc">Role Desc</span></th>
                    <th scope="col" ><span jhiTranslate="onePortalApp.mdmRoleMaster.organizationCode">Organization Code</span></th>
                    <th scope="col" ><span jhiTranslate="onePortalApp.mdmRoleMaster.organizationName">Organization Name</span></th>
                    <th scope="col" ><span jhiTranslate="onePortalApp.mdmRoleMaster.serviceCode">Service Code</span></th>
                    <th scope="col" ><span jhiTranslate="onePortalApp.mdmRoleMaster.serviceName">Service Name</span></th>
                    <th scope="col" ><span jhiTranslate="onePortalApp.mdmRoleMaster.locationCode">Location Code</span></th>
                    <th scope="col" ><span jhiTranslate="onePortalApp.mdmRoleMaster.locationName">Location Name</span></th>
                    <th scope="col" ><span jhiTranslate="onePortalApp.mdmRoleMaster.roleStatus">Role Status</span></th>
                    <th scope="col" ><span jhiTranslate="onePortalApp.mdmRoleMaster.createdBy">Created By</span></th>
                    <th scope="col" ><span jhiTranslate="onePortalApp.mdmRoleMaster.updatedBy">Updated By</span></th>
                    <th scope="col" ><span jhiTranslate="onePortalApp.mdmRoleMaster.recordInsertTime">Record Insert Time</span></th>
                    <th scope="col" ><span jhiTranslate="onePortalApp.mdmRoleMaster.createTime">Create Time</span></th>
                    <th scope="col" ><span jhiTranslate="onePortalApp.mdmRoleMaster.updateTime">Update Time</span></th>
                    <th scope="col" ><span jhiTranslate="onePortalApp.mdmRoleMaster.roleLevelId">Role Level Id</span></th>
                    <th scope="col" ><span jhiTranslate="onePortalApp.mdmRoleMaster.roleLevelDesc">Role Level Desc</span></th>
                    <th scope="col" ><span jhiTranslate="onePortalApp.mdmRoleMaster.volunteerSecretariat">Volunteer Secretariat</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let mdmRoleMaster of mdmRoleMasters ;trackBy: trackId">
                    <td><a [routerLink]="['/mdm-role-master', mdmRoleMaster.id, 'view']">{{ mdmRoleMaster.id }}</a></td>
                    <td>{{ mdmRoleMaster.roleCode }}</td>
                    <td>{{ mdmRoleMaster.roleName }}</td>
                    <td>{{ mdmRoleMaster.roleDesc }}</td>
                    <td>{{ mdmRoleMaster.organizationCode }}</td>
                    <td>{{ mdmRoleMaster.organizationName }}</td>
                    <td>{{ mdmRoleMaster.serviceCode }}</td>
                    <td>{{ mdmRoleMaster.serviceName }}</td>
                    <td>{{ mdmRoleMaster.locationCode }}</td>
                    <td>{{ mdmRoleMaster.locationName }}</td>
                    <td>{{ mdmRoleMaster.roleStatus }}</td>
                    <td>{{ mdmRoleMaster.createdBy }}</td>
                    <td>{{ mdmRoleMaster.updatedBy }}</td>
                    <td>{{ mdmRoleMaster.recordInsertTime | date:'medium' }}</td>
                    <td>{{ mdmRoleMaster.createTime | date:'medium' }}</td>
                    <td>{{ mdmRoleMaster.updateTime | date:'medium' }}</td>
                    <td>{{ mdmRoleMaster.roleLevelId }}</td>
                    <td>{{ mdmRoleMaster.roleLevelDesc }}</td>
                    <td>{{ mdmRoleMaster.volunteerSecretariat }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/mdm-role-master', mdmRoleMaster.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/mdm-role-master', mdmRoleMaster.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(mdmRoleMaster)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
