<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mdmMeesevaServiceMaster">
            <h2><span jhiTranslate="onePortalApp.mdmMeesevaServiceMaster.detail.title">Mdm Meeseva Service Master</span> {{ mdmMeesevaServiceMaster.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="onePortalApp.mdmMeesevaServiceMaster.syspk">Syspk</span></dt>
                <dd>
                    <span>{{ mdmMeesevaServiceMaster.syspk }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmMeesevaServiceMaster.meesevaServiceName">Meeseva Service Name</span></dt>
                <dd>
                    <span>{{ mdmMeesevaServiceMaster.meesevaServiceName }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmMeesevaServiceMaster.isCharged">Is Charged</span></dt>
                <dd>
                    <span>{{ mdmMeesevaServiceMaster.isCharged }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmMeesevaServiceMaster.organizationEntityTypeCode">Organization Entity Type Code</span></dt>
                <dd>
                    <span>{{ mdmMeesevaServiceMaster.organizationEntityTypeCode }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmMeesevaServiceMaster.applicationTable">Application Table</span></dt>
                <dd>
                    <span>{{ mdmMeesevaServiceMaster.applicationTable }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmMeesevaServiceMaster.applicationObject">Application Object</span></dt>
                <dd>
                    <span>{{ mdmMeesevaServiceMaster.applicationObject }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmMeesevaServiceMaster.customerDefaultFlag">Customer Default Flag</span></dt>
                <dd>
                    <span>{{ mdmMeesevaServiceMaster.customerDefaultFlag }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmMeesevaServiceMaster.channelDefaultFlag">Channel Default Flag</span></dt>
                <dd>
                    <span>{{ mdmMeesevaServiceMaster.channelDefaultFlag }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmMeesevaServiceMaster.serviceUrl">Service Url</span></dt>
                <dd>
                    <span>{{ mdmMeesevaServiceMaster.serviceUrl }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmMeesevaServiceMaster.backOfficeUrl">Back Office Url</span></dt>
                <dd>
                    <span>{{ mdmMeesevaServiceMaster.backOfficeUrl }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmMeesevaServiceMaster.packageId">Package Id</span></dt>
                <dd>
                    <span>{{ mdmMeesevaServiceMaster.packageId }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmMeesevaServiceMaster.meesevaServiceActiveFlag">Meeseva Service Active Flag</span></dt>
                <dd>
                    <span>{{ mdmMeesevaServiceMaster.meesevaServiceActiveFlag }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmMeesevaServiceMaster.meesevaServiceGroupId">Meeseva Service Group Id</span></dt>
                <dd>
                    <span>{{ mdmMeesevaServiceMaster.meesevaServiceGroupId }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmMeesevaServiceMaster.meesevaServiceSubGroupId">Meeseva Service Sub Group Id</span></dt>
                <dd>
                    <span>{{ mdmMeesevaServiceMaster.meesevaServiceSubGroupId }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmMeesevaServiceMaster.meesevaServiceTypeId">Meeseva Service Type Id</span></dt>
                <dd>
                    <span>{{ mdmMeesevaServiceMaster.meesevaServiceTypeId }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmMeesevaServiceMaster.meesevaServiceSubTypeId">Meeseva Service Sub Type Id</span></dt>
                <dd>
                    <span>{{ mdmMeesevaServiceMaster.meesevaServiceSubTypeId }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmMeesevaServiceMaster.departmentCode">Department Code</span></dt>
                <dd>
                    <span>{{ mdmMeesevaServiceMaster.departmentCode }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmMeesevaServiceMaster.efmsDepartmentCode">Efms Department Code</span></dt>
                <dd>
                    <span>{{ mdmMeesevaServiceMaster.efmsDepartmentCode }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmMeesevaServiceMaster.isOnline">Is Online</span></dt>
                <dd>
                    <span>{{ mdmMeesevaServiceMaster.isOnline }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmMeesevaServiceMaster.agencyType">Agency Type</span></dt>
                <dd>
                    <span>{{ mdmMeesevaServiceMaster.agencyType }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmMeesevaServiceMaster.launchDate">Launch Date</span></dt>
                <dd>
                    <span>{{ mdmMeesevaServiceMaster.launchDate }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmMeesevaServiceMaster.isMobile">Is Mobile</span></dt>
                <dd>
                    <span>{{ mdmMeesevaServiceMaster.isMobile }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmMeesevaServiceMaster.innerSubId">Inner Sub Id</span></dt>
                <dd>
                    <span>{{ mdmMeesevaServiceMaster.innerSubId }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmMeesevaServiceMaster.digilockerEnabled">Digilocker Enabled</span></dt>
                <dd>
                    <span>{{ mdmMeesevaServiceMaster.digilockerEnabled }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmMeesevaServiceMaster.isRegular">Is Regular</span></dt>
                <dd>
                    <span>{{ mdmMeesevaServiceMaster.isRegular }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmMeesevaServiceMaster.isSeasonal">Is Seasonal</span></dt>
                <dd>
                    <span>{{ mdmMeesevaServiceMaster.isSeasonal }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmMeesevaServiceMaster.citizenPortalLaunchDate">Citizen Portal Launch Date</span></dt>
                <dd>
                    <span>{{ mdmMeesevaServiceMaster.citizenPortalLaunchDate }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmMeesevaServiceMaster.createdBy">Created By</span></dt>
                <dd>
                    <span>{{ mdmMeesevaServiceMaster.createdBy }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmMeesevaServiceMaster.updatedBy">Updated By</span></dt>
                <dd>
                    <span>{{ mdmMeesevaServiceMaster.updatedBy }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmMeesevaServiceMaster.recordInsertTime">Record Insert Time</span></dt>
                <dd>
                    <span>{{ mdmMeesevaServiceMaster.recordInsertTime }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmMeesevaServiceMaster.createTime">Create Time</span></dt>
                <dd>
                    <span>{{ mdmMeesevaServiceMaster.createTime }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmMeesevaServiceMaster.updateTime">Update Time</span></dt>
                <dd>
                    <span>{{ mdmMeesevaServiceMaster.updateTime }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmMeesevaServiceMaster.meesevaServiceId">Meeseva Service Id</span></dt>
                <dd>
                    <div *ngIf="mdmMeesevaServiceMaster.meesevaServiceId">
                        <a [routerLink]="['/mdm-service-master', mdmMeesevaServiceMaster.meesevaServiceId?.id, 'view']">{{ mdmMeesevaServiceMaster.meesevaServiceId?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/mdm-meeseva-service-master', mdmMeesevaServiceMaster.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
