<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mdmEmpRoleMaster">
            <h2><span jhiTranslate="onePortalApp.mdmEmpRoleMaster.detail.title">Mdm Emp Role Master</span> {{ mdmEmpRoleMaster.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="onePortalApp.mdmEmpRoleMaster.employeeCode">Employee Code</span></dt>
                <dd>
                    <span>{{ mdmEmpRoleMaster.employeeCode }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmEmpRoleMaster.employeeName">Employee Name</span></dt>
                <dd>
                    <span>{{ mdmEmpRoleMaster.employeeName }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmEmpRoleMaster.roleCode">Role Code</span></dt>
                <dd>
                    <span>{{ mdmEmpRoleMaster.roleCode }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmEmpRoleMaster.roleName">Role Name</span></dt>
                <dd>
                    <span>{{ mdmEmpRoleMaster.roleName }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmEmpRoleMaster.officeCode">Office Code</span></dt>
                <dd>
                    <span>{{ mdmEmpRoleMaster.officeCode }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmEmpRoleMaster.officeName">Office Name</span></dt>
                <dd>
                    <span>{{ mdmEmpRoleMaster.officeName }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmEmpRoleMaster.personId">Person Id</span></dt>
                <dd>
                    <span>{{ mdmEmpRoleMaster.personId }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmEmpRoleMaster.organizationCode">Organization Code</span></dt>
                <dd>
                    <span>{{ mdmEmpRoleMaster.organizationCode }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmEmpRoleMaster.organizationName">Organization Name</span></dt>
                <dd>
                    <span>{{ mdmEmpRoleMaster.organizationName }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmEmpRoleMaster.stateCode">State Code</span></dt>
                <dd>
                    <span>{{ mdmEmpRoleMaster.stateCode }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmEmpRoleMaster.stateName">State Name</span></dt>
                <dd>
                    <span>{{ mdmEmpRoleMaster.stateName }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmEmpRoleMaster.districtCode">District Code</span></dt>
                <dd>
                    <span>{{ mdmEmpRoleMaster.districtCode }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmEmpRoleMaster.districtName">District Name</span></dt>
                <dd>
                    <span>{{ mdmEmpRoleMaster.districtName }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmEmpRoleMaster.mandalCode">Mandal Code</span></dt>
                <dd>
                    <span>{{ mdmEmpRoleMaster.mandalCode }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmEmpRoleMaster.mandalName">Mandal Name</span></dt>
                <dd>
                    <span>{{ mdmEmpRoleMaster.mandalName }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmEmpRoleMaster.villageCode">Village Code</span></dt>
                <dd>
                    <span>{{ mdmEmpRoleMaster.villageCode }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmEmpRoleMaster.villageName">Village Name</span></dt>
                <dd>
                    <span>{{ mdmEmpRoleMaster.villageName }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmEmpRoleMaster.circleName">Circle Name</span></dt>
                <dd>
                    <span>{{ mdmEmpRoleMaster.circleName }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmEmpRoleMaster.divisionName">Division Name</span></dt>
                <dd>
                    <span>{{ mdmEmpRoleMaster.divisionName }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmEmpRoleMaster.subDivisionName">Sub Division Name</span></dt>
                <dd>
                    <span>{{ mdmEmpRoleMaster.subDivisionName }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmEmpRoleMaster.sectionName">Section Name</span></dt>
                <dd>
                    <span>{{ mdmEmpRoleMaster.sectionName }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmEmpRoleMaster.activeStatusFlag">Active Status Flag</span></dt>
                <dd>
                    <span>{{ mdmEmpRoleMaster.activeStatusFlag }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmEmpRoleMaster.createdBy">Created By</span></dt>
                <dd>
                    <span>{{ mdmEmpRoleMaster.createdBy }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmEmpRoleMaster.updatedBy">Updated By</span></dt>
                <dd>
                    <span>{{ mdmEmpRoleMaster.updatedBy }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmEmpRoleMaster.recordInsertTime">Record Insert Time</span></dt>
                <dd>
                    <span>{{ mdmEmpRoleMaster.recordInsertTime }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmEmpRoleMaster.createTime">Create Time</span></dt>
                <dd>
                    <span>{{ mdmEmpRoleMaster.createTime }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmEmpRoleMaster.updateTime">Update Time</span></dt>
                <dd>
                    <span>{{ mdmEmpRoleMaster.updateTime }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmEmpRoleMaster.volunteerSecretariatRole">Volunteer Secretariat Role</span></dt>
                <dd>
                    <span>{{ mdmEmpRoleMaster.volunteerSecretariatRole }}</span>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmEmpRoleMaster.organizationCode">Organization Code</span></dt>
                <dd>
                    <div *ngIf="mdmEmpRoleMaster.organizationCode">
                        <a [routerLink]="['/mdm-organization-master', mdmEmpRoleMaster.organizationCode?.id, 'view']">{{ mdmEmpRoleMaster.organizationCode?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmEmpRoleMaster.employeeCode">Employee Code</span></dt>
                <dd>
                    <div *ngIf="mdmEmpRoleMaster.employeeCode">
                        <a [routerLink]="['/mdm-employee-master', mdmEmpRoleMaster.employeeCode?.id, 'view']">{{ mdmEmpRoleMaster.employeeCode?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="onePortalApp.mdmEmpRoleMaster.roleCode">Role Code</span></dt>
                <dd>
                    <div *ngIf="mdmEmpRoleMaster.roleCode">
                        <a [routerLink]="['/mdm-role-master', mdmEmpRoleMaster.roleCode?.id, 'view']">{{ mdmEmpRoleMaster.roleCode?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/mdm-emp-role-master', mdmEmpRoleMaster.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
