<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-mdm-activity-master-heading" jhiTranslate="onePortalApp.mdmActivityMaster.home.createOrEditLabel">Create or edit a Mdm Activity Master</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="onePortalApp.mdmActivityMaster.activityCode" for="field_activityCode">Activity Code</label>
                    <input type="text" class="form-control" name="activityCode" id="field_activityCode"
                           formControlName="activityCode"/>
                    <div *ngIf="editForm.get('activityCode')!.invalid && (editForm.get('activityCode')!.dirty || editForm.get('activityCode')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('activityCode')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="onePortalApp.mdmActivityMaster.activityName" for="field_activityName">Activity Name</label>
                    <input type="text" class="form-control" name="activityName" id="field_activityName"
                           formControlName="activityName"/>
                    <div *ngIf="editForm.get('activityName')!.invalid && (editForm.get('activityName')!.dirty || editForm.get('activityName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('activityName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="onePortalApp.mdmActivityMaster.activityDesc" for="field_activityDesc">Activity Desc</label>
                    <input type="text" class="form-control" name="activityDesc" id="field_activityDesc"
                           formControlName="activityDesc"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="onePortalApp.mdmActivityMaster.activityLevelId" for="field_activityLevelId">Activity Level Id</label>
                    <input type="number" class="form-control" name="activityLevelId" id="field_activityLevelId"
                           formControlName="activityLevelId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="onePortalApp.mdmActivityMaster.activityLevelDesc" for="field_activityLevelDesc">Activity Level Desc</label>
                    <input type="text" class="form-control" name="activityLevelDesc" id="field_activityLevelDesc"
                           formControlName="activityLevelDesc"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="onePortalApp.mdmActivityMaster.organizationName" for="field_organizationName">Organization Name</label>
                    <input type="text" class="form-control" name="organizationName" id="field_organizationName"
                           formControlName="organizationName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="onePortalApp.mdmActivityMaster.activityStatus" for="field_activityStatus">Activity Status</label>
                    <input type="text" class="form-control" name="activityStatus" id="field_activityStatus"
                           formControlName="activityStatus"/>
                    <div *ngIf="editForm.get('activityStatus')!.invalid && (editForm.get('activityStatus')!.dirty || editForm.get('activityStatus')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('activityStatus')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="onePortalApp.mdmActivityMaster.createdBy" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                           formControlName="createdBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="onePortalApp.mdmActivityMaster.updatedBy" for="field_updatedBy">Updated By</label>
                    <input type="text" class="form-control" name="updatedBy" id="field_updatedBy"
                           formControlName="updatedBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="onePortalApp.mdmActivityMaster.recordInsertTime" for="field_recordInsertTime">Record Insert Time</label>
                    <div class="d-flex">
                        <input id="field_recordInsertTime" type="datetime-local" class="form-control" name="recordInsertTime" formControlName="recordInsertTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="onePortalApp.mdmActivityMaster.createTime" for="field_createTime">Create Time</label>
                    <div class="d-flex">
                        <input id="field_createTime" type="datetime-local" class="form-control" name="createTime" formControlName="createTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="onePortalApp.mdmActivityMaster.updateTime" for="field_updateTime">Update Time</label>
                    <div class="d-flex">
                        <input id="field_updateTime" type="datetime-local" class="form-control" name="updateTime" formControlName="updateTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="onePortalApp.mdmActivityMaster.organizationCode" for="field_organizationCode">Organization Code</label>
                    <select class="form-control" id="field_organizationCode" name="organizationCode" formControlName="organizationCode">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="mdmOrganizationMasterOption.id === editForm.get('organizationCode')!.value?.id ? editForm.get('organizationCode')!.value : mdmOrganizationMasterOption" *ngFor="let mdmOrganizationMasterOption of mdmorganizationmasters; trackBy: trackById">{{ mdmOrganizationMasterOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
